In [20]:
import pandas as pd

df = pd.read_csv("Posts.csv")

df.groupby('UserId').count()

# print(c)

,Id,PostHistoryTypeId,PostId,RevisionGUID,CreationDate,UserDisplayName,Comment,Text,ContentLicense
UserId,,,,,,,,,
10015258,5,5,5,5,5,0,1,5,5
10021446,3,3,3,3,3,0,0,3,3
1002843,6,6,6,6,6,0,0,6,6
10034619,37,37,37,37,37,0,4,37,37
10037094,1,1,1,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...
9952809,3,3,3,3,3,0,0,3,3
9974792,36,36,36,36,36,0,5,36,36
9980148,30,30,30,30,30,0,8,30,30
9997852,3,3,3,3,3,0,0,3,3
UserId,19,19,19,19,19,19,19,19,19