In [2]:

import pandas as pd

In [3]:
users_df = pd.read_csv("data/Users.csv")
comments_df = pd.read_csv("data/Comments.csv")
postHistory_df = pd.read_csv("data/PostHistory.csv")
badges_df = pd.read_csv("data/Badges.csv")

In [4]:
users_df.head(10)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,EmailHash,AccountId
0,237137,36,1261512223193,davrous,1262209129173,http://blogs.msdn.com/davrous,NaN,NaN,2,0,0,NaN,NaN,580584
1,907595,13,1314098270493,René,1316454773330,http://www.sarahengell.dk,NaN,NaN,2,0,0,NaN,NaN,799199
2,1869230,435,1354389119783,dan1,1533455867923,http://danyalozair.com,NaN,NaN,72,5,0,NaN,NaN,2101798
3,1861431,75,1354139880027,Bryan,1426906926187,NaN,NaN,NaN,21,6,0,NaN,NaN,2091763
4,1858121,11,1354057590997,RubenatoR,1372184147920,NaN,"Portland, OR",NaN,10,0,0,NaN,NaN,2087541
5,1853324,9,1353932012327,d2h,1364545684757,NaN,NaN,NaN,5,0,0,NaN,NaN,2081415
6,1846334,141,1353631826510,Lewis Boyles-White,1514998297073,http://www.whitelb.co.uk,"Plymouth, United Kingdom",<p>Generally interested in technology and codi...,61,5,0,NaN,NaN,2072099
7,1836532,21,1353345932493,Mohsen Alizadeh,1551785455310,NaN,NaN,NaN,18,0,0,NaN,NaN,2059610
8,1966854,3,1357824395260,labworxsa,1607685254290,NaN,"Eastern Cape, South Africa",NaN,7,0,0,NaN,NaN,2228670
9,1833626,21,1353247966420,Almar Klein,1353267074797,NaN,NaN,NaN,6,0,0,NaN,NaN,2055834

In [5]:
reps = 0
for user in users_df.iterrows():
    reps += user[1]['Reputation']

avg_sample_rep = reps/users_df.shape[0]    

print(f"Average Sample Reputation: {round(avg_sample_rep, 2)}")

Average Sample Reputation: 236.14

In [6]:
postHistory_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58628 entries, 0 to 58627
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 58628 non-null  object
 1   PostHistoryTypeId  58628 non-null  object
 2   PostId             58628 non-null  object
 3   RevisionGUID       58628 non-null  object
 4   CreationDate       58628 non-null  object
 5   UserId             58628 non-null  object
 6   UserDisplayName    26 non-null     object
 7   Comment            17170 non-null  object
 8   Text               58303 non-null  object
 9   ContentLicense     57810 non-null  object
dtypes: object(10)
memory usage: 4.5+ MB